header{
    width:100%;
    height:580px;
    background-image: url("../../assets/img/van_accueil.jpg");
    background-size:cover;
    
}

.listeHeader{
    display:flex;
    justify-content:flex-end;
    list-style-type: none;

}

ul{
    padding-top:35px;
}

li{
    margin-right: 35px;
    margin-left: 5px;
    font-size: 20px;
    color: white;
}

a:link{
    text-decoration: none;
    color:white;
}

.summer_logo{
    margin-top:10%;
    margin-left:35%;
    width:450px;
    height: 250px;
}


.destinations{
    border-radius:50%;
    display:flex;
}

.moine{
    width:205px;
    height:200px;
    margin-top:15px;
}

.titre1{
    color:red;
    border-bottom: 1px solid;   
}


.div_destinations{
    margin-left: 20px;
    margin-top: 50px;
}

#coup_de_coeur{
    margin-top: 30px;
    background-color: orange;
    height:700px;
    
}

.coup_de_coeurs{
    display:flex;
    justify-content: space-around;
   

}

.pays_border{
    height: 550px;
    

    
}

.img_pays{
    width:300px;
    height: 300px;
    color:red;
}

.pays{
    color: red;
    font-size: 23px;
    margin: 0px 10px 0px 10px;
    padding-top: 10px;
    border-bottom: 1px red solid;
    margin-bottom: 20px;
}

.white{
    background-color: white;
    width:300px;
    height: 280px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.info{
    color:red;
    display:flex;
    justify-content: flex-end;
    margin-right: 5px;
}